@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
}

section,
.section {
    margin-bottom: 200px;
}


@media (max-width:768px) {

    section,
    .section {
        margin-bottom: 100px;
    }
}